
<footer id="footer-wrapper">

    <div class="middle-footer">

        <div class="container">
            <div class="themevale_service">
                <div class="service-item">
                    <div class="service-wrapper">
                        <i class="icon"><svg><use xlink:href="#icon-truck"></use></svg></i>
                        <h3 class="title">Worldwide Delivery</h3>
                        <p class="text">Experience seamless global accessibility with our worldwide express delivery services. </p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-wrapper">
                        <i class="icon"><svg><use xlink:href="#icon-credit-card"></use></svg></i>
                        <h3 class="title">Navigate Securely</h3>
                        <p class="text">Ensuring security and protecting your privacy for a safe and enjoyable online experience. </p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-wrapper">
                        <i class="icon"><svg><use xlink:href="#icon-shield"></use></svg></i>
                        <h3 class="title">Browse with Confidence</h3>
                        <p class="text">Trust us to be your reliable partner, committed to delivering prompt and reliable assistance whenever you need it.</p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-wrapper">
                        <i class="icon"><svg><use xlink:href="#icon-support"></use></svg></i>
                        <h3 class="title">24/7 Help Center</h3>
                        <p class="text">Our team is here around the clock to address your inquiries, provide solutions, and ensure a seamless experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <div class="footerInfo">
        <div class="container">
            <p>Looking for a tailored solution to match your <span>unique needs?</span><a href="/request-a-quote/" title="Request a Quote" class="link">Request a Quote</a></p>
        </div>
    </div>

    <section id="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-1 col-sm-2">
                    <h5>Further Info.</h5>
                    <ul>
                        <li><a href="/about-us/">About Us</a></li>
                        <li><a href="/sitemap/">Sitemap</a></li>
                        <li><a href="/contact-us/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-2 col-sm-2">
                    <h5>Customer Service</h5>
                    <ul>
                        <li><a href="/faq/">Help & FAQs</a></li>
                        <li><a href="/shipping-returns/">Shipping & Returns</a></li>
                    </ul>
                </div>

                <div class="col-3 col-sm-2">
                    <h5>Info</h5>
                    <ul>
                        <li><a href="/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="/terms-and-conditions/">Terms & Conditions</a></li>
                    </ul>
                </div>

                <div class="col-4 col-sm-2">
                    <h5>Catalog</h5>
                    <ul>
                        {{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                                <div class="col-5 col-sm-4">
                    {{#if settings.show_newsletter_box}} {{> components/common/subscription-form}} {{/if}}
                    {{> components/common/social-links}}
                </div>

            </div>
        </div>
    </section>
    <div id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="footer-copyright-{{theme_settings.copyright_alignment}} col-sm-6">
                    {{#if theme_settings.show_copyright_footer}}
                        <div class="footer-copyright">
                            <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}}. </p>
                        </div>
                    {{/if}}
                </div>
                <div class="footer-payment col-sm-6">
                    <p>
                        <a title="Visa" href="#"><img src="/product_images/uploaded_images/visa.png" alt="Visa"></a>
                        <a title="Express" href="#"><img src="/product_images/uploaded_images/american.png" alt="Express"></a>
                        <a title="Master Card" href="#"><img src="/product_images/uploaded_images/mastercard.png" alt="Master Card"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>

<a href="javascript:void(0);" id="back-to-top">Top</a>
